:root {
  --mainColor: #69b42e;
  --mainColor10: #69b42e10;
  --mainColor30: #69b42e30;
  --secondColor: #05a0db;
  --secondColor10: #05a0db10;
  --secondColor30: #05a0db30;
  --gold: #ffd700;
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --bodyColor: #f3f3f9;
  --textColor: #898989;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
  --headerBackgroundColor: var(--whiteColor);
}

@font-face {
  font-family: IBMPlexSansArabic;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBMPlexSansArabic", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: var(--backgroundColor);
  box-shadow: inset 1px 1px 2px #cfcfd4, inset -1px -1px 2px #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition) !important;
  color: var(--blackColor);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 600;
}

@media (max-width: 767px) {
  .container,
.container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background: url(../img/BG.jpg);
  overflow-x: hidden;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}

.fancybox__container {
  z-index: 1999;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  float: none !important;
}
.form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 89, 91, 0.1882352941);
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  background-color: var(--whiteColor);
  border-radius: 2px;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  content: "" !important;
  background-image: url(../img/icons/arrow.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.swiperContainer .swiper-button-next:hover::after,
.swiperContainer .swiper-button-prev:hover::after {
  filter: invert(1);
}
@media (max-width: 768px) {
  .swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
    display: none;
  }
}
.swiperContainer .swiper-button-next {
  left: -60px;
  right: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    left: 0px;
  }
}
.swiperContainer .swiper-button-prev {
  right: -60px;
  left: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    right: 0px;
  }
}
.swiperContainer .swiper-button-prev::after {
  transform: scaleX(-1);
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2px;
  padding: 0px 10px;
  transition: var(--transition);
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: var(--transition);
  width: 16px;
  border-radius: 2px;
  opacity: 0.3;
  background-color: var(--mainColor);
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--mainColor);
  width: 40px;
  opacity: 1;
  transition: var(--transition);
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--secondColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.fancybox__caption {
  text-align: center;
}

.filepond--credits {
  display: none !important;
}

.filepond--image-clip {
  direction: ltr !important;
}

content {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: calc(100vh - 300px);
}

.title {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 12px 12px;
}
.title .side {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: end;
}
.title .side h4 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title .side h4::after {
  content: "//";
  color: var(--mainColor);
}
.title .side h4::before {
  content: "//";
  color: var(--mainColor);
}
.title .side p {
  max-width: 300px;
}
.title .side h1 {
  font-size: 35px;
}
@media (max-width: 768px) {
  .title .side h1 {
    font-size: 24px;
  }
}
.title .side h1::after {
  content: "";
  background-color: var(--mainColor);
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 4px;
}
.title .side:nth-child(3) {
  align-items: flex-start;
  text-align: start;
}
.title .distance {
  width: 2px;
  background-color: var(--mainColor30);
  display: flex;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputField label {
  color: var(--textColor);
}

.checkBoxField {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  min-width: 150px;
}
.checkBoxField label {
  cursor: pointer;
}
.checkBoxField input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.inputForm {
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 100px;
}

textarea.inputForm {
  padding: 10px;
}

::-moz-placeholder {
  font-size: 12px !important;
}

:-ms-input-placeholder {
  font-size: 12px !important;
}

::placeholder {
  font-size: 12px !important;
}

.icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: var(--transition);
  background-color: transparent;
}
@media (max-width: 576px) {
  header {
    background-color: #ffffff;
  }
}
header nav {
  width: min(100% - 20px, 1320px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 16px 0;
  gap: 8px;
}
header nav .logo {
  margin: auto 0;
}
header nav .logo img {
  height: 45px;
  transition: var(--transition);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 576px) {
  header nav .logo img {
    height: 35px;
  }
}
header nav .navMenu {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 6px;
  transition: var(--transition);
}
header nav .navMenu .navLink {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: var(--blackColor);
}
header nav .navMenu .navLink:hover {
  color: var(--mainColor);
}
header nav .navMenu .navLink.btn {
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 8px 24px;
}
@media (max-width: 992px) {
  header nav .navMenu {
    position: fixed;
    z-index: -1;
    right: -100%;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 60px 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--headerBackgroundColor);
    align-items: center;
  }
  header nav .navMenu .navLink {
    text-align: center;
    justify-content: center;
    padding: 12px;
  }
}
header nav .navMenu.active {
  right: 0;
}
header nav .navBtn {
  margin: auto 0;
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
header nav .navBtn span {
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 4px 0;
  transition: var(--transition);
}
header nav .navBtn span:first-child {
  top: 0;
}
header nav .navBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header nav .navBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header nav .navBtn:not(.active):hover span:first-child {
  width: 16px;
}
header nav .navBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header nav .navBtn.active span {
  background-color: var(--mainColor) !important;
}
header nav .navBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header nav .navBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header nav .navBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
@media (min-width: 992px) {
  header nav .navBtn {
    display: none;
  }
}
header .dropdown {
  position: relative;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  margin: 0 5px;
  max-width: 100%;
  gap: 8px;
  font-weight: bold;
}
header .dropdown .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(0% + 50px);
  width: 100%;
  border-radius: 8px;
  padding: 4px 0px;
  z-index: 1;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 24px 0px rgba(59, 59, 59, 0.0705882353);
  transition: var(--transition);
}
header .dropdown .dropdown-content .dropdownItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 16px;
  color: var(--blackColor);
}
header .dropdown .dropdown-content .dropdownItem img {
  width: 30px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-left: 8px;
}
header .dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 0%;
}

.headerAnimate {
  box-shadow: var(--BigShadow);
  padding: 0 5px;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.9019607843);
}

footer {
  background: linear-gradient(45deg, var(--mainColor10), var(--mainColor30));
  color: var(--whiteColor);
  padding: 60px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
footer .inner {
  width: min(100% - 24px, 1320px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
footer .inner .col {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .inner .info {
  gap: 16px;
}
footer .inner .info img {
  height: 50px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .inner .info p {
  color: var(--textColor);
}
footer .inner .info .social {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .inner .info .social a {
  display: flex;
  min-width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  border-radius: 4px;
  border: 1px solid var(--textColor);
  transition: var(--transition);
}
footer .inner .info .social a svg {
  width: 20px;
  height: 20px;
}
footer .inner .info .social a circle,
footer .inner .info .social a path {
  fill: #777;
  transition: var(--transition);
}
footer .inner .info .social a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  transform: translateY(-5px);
}
footer .inner .info .social a:hover circle,
footer .inner .info .social a:hover path {
  fill: var(--whiteColor);
}
footer .inner .hotLinks .links {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
footer .inner .hotLinks .links a {
  flex: 1;
  min-width: 45%;
  color: var(--textColor);
  display: inline-flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  align-items: center;
  white-space: nowrap;
  gap: 4px;
}
footer .inner .hotLinks .links a::before {
  content: "-";
  color: var(--mainColor);
}
footer .inner .hotLinks .links a:hover {
  color: var(--mainColor);
  transform: translateX(-4px);
}
footer .inner .contactFooter .contactData {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .inner .contactFooter .contactData .contactLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--textColor);
  padding: 4px 0;
}
footer .inner .contactFooter .contactData .contactLink:hover {
  color: var(--mainColor);
  transform: translateX(-4px);
}
footer .inner .gallery .photos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
footer .inner .gallery .photos a {
  flex: 0 0;
  display: block;
}
footer .inner .gallery .photos img {
  aspect-ratio: 1/1;
  border-radius: 1px;
  min-width: 80px;
  border: 1px solid var(--whiteColor);
}
footer .inner .footerTitle {
  color: var(--secondColor);
  position: relative;
  text-transform: capitalize;
  padding-right: 16px;
  margin-bottom: 10px;
}
footer .inner .footerTitle::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 0;
  width: 2px;
  height: 90%;
  background-color: var(--mainColor);
}
footer .inner .footerTitle::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 70%;
  background-color: var(--mainColor);
}
footer .copyR {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid rgba(6, 37, 59, 0.1254901961);
  gap: 8px;
  color: var(--textColor);
}
footer .copyR .company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--mainColor);
}
footer .copyR img {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.defaultBtn {
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 30px;
  color: var(--whiteColor);
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: capitalize;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  font-size: 15px;
  transition: var(--transition);
}
.defaultBtn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 991px) {
  .defaultBtn {
    padding: 8px 20px;
  }
}
.defaultBtn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--secondColor);
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: var(--transition);
}
.defaultBtn:hover {
  color: var(--whiteColor);
  box-shadow: var(--BigShadow);
  transform: translateY(-3px);
}
.defaultBtn:hover::before {
  width: 100%;
  opacity: 1;
}
.defaultBtn.two {
  background-color: var(--secondColor);
}
.defaultBtn.two:hover {
  color: var(--whiteColor);
}
.defaultBtn.two:hover::before {
  background-color: var(--mainColor);
}

.intro {
  width: min(100% - 20px, 1200px);
  margin: auto;
  padding: 50px 0;
  display: flex;
  gap: 48px;
}
@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
  }
}
.intro .introTitle {
  font-weight: bold;
  font-size: 80px;
}
@media (max-width: 992px) {
  .intro .introTitle {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .intro .introTitle {
    font-size: 50px;
  }
}
@media (max-width: 468px) {
  .intro .introTitle {
    font-size: 40px;
  }
}
.intro .introData {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .intro .introData {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.intro .introData .introDes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .intro .introData .introDes {
    padding: 0 20px;
  }
}
.intro .introData .introDes h4 {
  color: var(--textColor);
}
.intro .introData .btnGroup {
  display: inline-flex;
  gap: 8px;
}
.intro .introVideo {
  flex: 1;
  display: flex;
  align-content: center;
}
.intro .introVideo .video {
  position: relative;
  width: 100%;
  display: flex;
}
.intro .introVideo .video .inner {
  position: relative;
  aspect-ratio: 1/1;
  width: min(100% - 20px, 550px);
  margin: auto;
}
@media (max-width: 768px) {
  .intro .introVideo .video .inner {
    width: min(100% - 20px, 350px);
  }
}
.intro .introVideo .video .inner .bg {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid #fff;
}
.intro .introVideo .video .inner .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.intro .introVideo .video .inner .bg::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--mainColor);
  z-index: 2;
  opacity: 0.2;
}
.intro .introVideo .video .inner button {
  position: absolute;
  top: 45%;
  left: 45%;
  background: var(--mainColor);
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  cursor: pointer;
  border: 2px solid #fff;
}
.intro .introVideo .video .inner button img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .intro .introVideo .video .inner button {
    top: 40%;
    left: 40%;
  }
}
.intro .introVideo .video .inner button::before {
  content: "";
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3098039216);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  -webkit-animation: breathe 2s infinite linear;
          animation: breathe 2s infinite linear;
}
@-webkit-keyframes breathe {
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7294117647);
  }
}
@keyframes breathe {
  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7294117647);
  }
}
.intro .introVideo .video .inner::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 23%;
  left: -23%;
  height: 52%;
  width: 100%;
  border-radius: 0 0 400px 400px;
  background-color: var(--mainColor);
  transform: rotate(100deg);
  z-index: -1;
}
.intro .introVideo .video .inner::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 23%;
  right: -23%;
  height: 52%;
  width: 100%;
  border-radius: 400px 400px 0 0;
  background-color: var(--mainColor);
  transform: rotate(100deg);
  z-index: -1;
}
.intro .introVideo .video::before {
  content: "";
  top: -80%;
  left: 0px;
  width: 50vw;
  height: 50vw;
  position: absolute;
  border-radius: 50%;
  background-color: var(--mainColor);
  z-index: -1;
  opacity: 0.1;
}
.intro .introVideo .video::after {
  content: "";
  top: -50%;
  left: 30%;
  width: 50vw;
  height: 50vw;
  opacity: 0.45;
  position: absolute;
  border-radius: 50%;
  background-color: var(--mainColor);
  z-index: -1;
  opacity: 0.1;
}

.partners {
  width: min(100% - 20px, 1320px);
  margin: 50px auto;
  display: flex;
  gap: 32px;
  border-radius: 16px;
  padding: 32px 16px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  isolation: isolate;
}
.partners .mainImg {
  flex: 1;
  position: relative;
  min-width: 300px;
  height: 400px;
}
@media only screen and (max-width: 768px) {
  .partners .mainImg {
    height: 200px;
    margin-bottom: 20px;
  }
}
.partners .mainImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: skewY(-177deg);
  border-radius: 16px;
}
.partners .mainImg::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -16px;
  width: 100%;
  height: 90%;
  z-index: -1;
  border: 8px solid var(--mainColor);
  border-radius: 16px;
}
@media only screen and (max-width: 768px) {
  .partners .mainImg::before {
    top: 9px;
    right: 22px;
    width: 94%;
    height: 94%;
    border: 4px solid var(--mainColor);
  }
}
.partners .info {
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.partners .info .spTitle {
  color: var(--mainColor);
  position: relative;
  font-style: italic;
  transition: var(--transition);
}
.partners .info h4 {
  color: var(--textColor);
}
.partners .info h1 {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.partners .info h1 span {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .partners .info h1 span {
    font-size: 20px;
  }
}
.partners .info h1 span::after {
  content: " - ";
  padding-right: 5px;
}
.partners .info h1 span:last-child::after {
  display: none;
}
.partners .info .logos {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  padding-top: 30px;
}
.partners .info .logos img {
  height: 50px;
  min-width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}

.services {
  width: min(100% - 20px, 1320px);
  padding: 30px;
  margin: 100px auto;
  background-color: var(--whiteColor);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 768px) {
  .services {
    padding: 10px;
    margin: 50px auto;
  }
}
.services .tabs {
  padding: 24px;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .services .tabs {
    padding: 10px 0;
  }
}
.services .tabs .tablinks {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: var(--transition);
  border-radius: 8px;
}
.services .tabs .tablinks .tablinksItem {
  transition: var(--transition);
  flex: 1;
  min-width: 100px;
  text-align: center;
  padding: 16px 10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #eee;
  position: relative;
  isolation: isolate;
  font-weight: bold;
}
.services .tabs .tablinks .tablinksItem::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background-color: transparent;
  transform: rotate(45deg);
  border-radius: 20px 4px 4px 4px;
  z-index: -1;
}
.services .tabs .tablinks .tablinksItem.active {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.services .tabs .tablinks .tablinksItem.active::after {
  background-color: var(--mainColor);
}
.services .tabs .tabContent {
  transition: var(--transition);
  padding: 20px 8px 8px;
}
@media (max-width: 768px) {
  .services .tabs .tabContent {
    padding: 20px 0 0;
  }
}
.services .tabs .tabContent .tabContentItem {
  display: none;
  transition: var(--transition);
}
.services .tabs .tabContent .tabContentItem.active {
  display: block;
}
.services .tabs .presence {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.services .tabs .presence .col {
  flex: 1;
  min-width: 300px;
  position: relative;
}
.services .tabs .presence .mainSwiper {
  position: relative;
}
.services .tabs .presence .mainSwiper img {
  height: 550px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition);
  -o-object-position: top;
     object-position: top;
  border-radius: 8px;
  cursor: zoom-in;
}
@media (max-width: 768px) {
  .services .tabs .presence .mainSwiper img {
    height: 450px;
  }
}
.services .tabs .presence .mainSwiper:hover img {
  -o-object-position: bottom;
     object-position: bottom;
}
.services .tabs .presence .swiper-button-next {
  right: 55px;
  top: unset;
  left: unset;
  bottom: 10px;
  border: 1px solid var(--mainColor);
  border-radius: 8px;
}
.services .tabs .presence .swiper-button-prev {
  right: 10px;
  left: unset;
  top: unset;
  bottom: 10px;
  border: 1px solid var(--mainColor);
  border-radius: 8px;
}
.services .tabs .presence .swiper-pagination {
  left: 10px !important;
  right: unset !important;
  transform: translateX(0%);
}
.services .tabs .presence .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--whiteColor);
}
.services .tabs .presence .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--whiteColor);
}
.services .tabs .presence .experience {
  padding: 30px;
  padding-top: 15px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: 3;
  border-radius: 8px;
  flex-direction: column;
  box-shadow: -8px 8px 0 0px var(--mainColor30);
}
.services .tabs .presence .experience span {
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 2px;
}
.services .tabs .presence .tabInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 0;
}
.services .tabs .presence .tabInner ul {
  padding: 10px;
  margin: 0;
}
.services .tabs .presence .tabInner ul li {
  padding: 8px 0;
  color: #777;
  font-weight: bold;
}
.services .tabs .presence .tabInner p {
  font-style: italic;
  color: #777;
}
.services .tabs .videos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.services .tabs .videos .video {
  flex: 1;
  min-width: 300px;
}
.services .tabs .videos .video video {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.services .tabs .gallery .inner {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.services .tabs .gallery .inner a {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 250px;
  min-width: 10vw;
  background-color: rgba(245, 245, 245, 0.3137254902);
  border-radius: 16px;
  cursor: zoom-in;
}
.services .tabs .gallery .inner a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.services .tabs .gallery .inner a:nth-child(4n) {
  min-width: 20vw;
}
@media (max-width: 768px) {
  .services .tabs .gallery .inner a {
    height: 200px;
    min-width: 30vw;
  }
  .services .tabs .gallery .inner a:nth-child(4n) {
    min-width: 60vw;
  }
}
@media (max-width: 768px) {
  .services .tabs .gallery .inner {
    gap: 4px;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 50px 0;
}
.clients .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 24px;
}
@media (max-width: 768px) {
  .clients .top {
    flex-direction: column;
  }
}
.clients .top .text {
  flex: 1;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 992px) {
  .clients .top .text {
    padding-right: 20px;
  }
}
.clients .top .text strong {
  font-size: 70px;
  color: var(--mainColor);
  line-height: 0.8;
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--whiteColor);
  width: 200px;
  box-shadow: var(--BigShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 30px 20px;
}
@media (max-width: 992px) {
  .clients .top .text strong {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .clients .top .text strong {
    font-size: 40px;
  }
}
.clients .top .text strong span {
  font-weight: bold;
  margin-top: 2px;
}
.clients .top .text p {
  color: var(--textColor);
}
.clients .swiperContainer {
  width: 70%;
  background: linear-gradient(rgba(104, 180, 46, 0.8784313725), rgba(104, 180, 46, 0.8117647059)), url(../img/clientsBG.jpg);
  padding: 80px;
  padding-left: 20px;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (max-width: 768px) {
  .clients .swiperContainer {
    padding: 20px 20px;
    width: 95%;
    border-radius: 16px;
  }
}
.clients .swiperContainer .swiper-slide {
  background-color: var(--whiteColor);
  padding: 12px 16px;
  height: 100%;
  border-radius: 16px;
}
.clients .swiperContainer .swiper-slide img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.clients .swiperContainer .swiper-button-next {
  left: unset;
  right: -30px;
  transform: translateY(25px);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background-color: var(--mainColor);
  border: 5px solid #fff;
}
.clients .swiperContainer .swiper-button-next::after {
  filter: invert(1);
}
.clients .swiperContainer .swiper-button-prev {
  right: -30px;
  left: unset;
  transform: translateY(-45px);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background-color: var(--mainColor);
  border: 5px solid #fff;
}
.clients .swiperContainer .swiper-button-prev::after {
  filter: invert(1);
}/*# sourceMappingURL=style.css.map */